<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Convert your Long Urls to Short Urls and make an indirect Link in free that you can easily share to sites and emails."
    />
    <meta name="author" content="Sanju Developer" />
    <meta
      name="google-site-verification"
      content="5WxsOPPgWx3cSTxuUzgiINHA5rObw-HiYag23lqyGR0"
    />
    <meta name="keywords" content="Free Url Shortener and Redirect creater" />
    <meta property="og:url" content="https://qdr.vercel.app" />
    <meta
      property="og:title"
      content="Free Url Shortener and Redirect creater"
    />
    <meta
      property="og:description"
      content="Convert your Long Urls to Short Urls and make an indirect Link in free that you can easily share to sites and emails."
    />
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="icon" type="image/x-icon" href="/static/hd-logo.png" />
    <title>Free Url Shortener</title>
  </head>
  <body class="body">
    <div class="title_container">
      <img src="../static/hd-logo.png" alt="logo" class="logo" />
      <div class="header_container">
        <h1>Free Url Shortener and Redirect Link creater</h1>
      </div>
    </div>
    <div class="input">
      <input
        type="url"
        name="longUrl"
        id="longUrl"
        class="longUrl"
        placeholder="Enter url you want to short"
      />
      <button
        id="submitButton"
        class="submit"
        type="submit"
        onclick="onClickHandler()"
      >
        Get Short Url
      </button>
    </div>
    <div class="shortUrl">
      <a href="" id="anchortag" target="_blank" class="anchortag"></a>
    </div>
    <!-- <div class="shortUrl" id="shortUrl"></div> -->
    <script src="/static/script.js"></script>
  </body>
</html>
